/cameraCalibration.npz
/WidthCalibration.png
/WidthCalibration-Left.png
/WidthCalibration-Right.png
/HeightCalibration.png
/HeightCalibration-Left.png
/HeightCalibration-Right.png
/LFTool.exe
/chessboardImages/*.png
/testCalibration.py
/cameraCalibration_rs.npz
/NorthStarCalibration.json